::-moz-selection {background: #45688E; color: #fff; text-shadow: none;}
::selection {background: #45688E; color: #fff; text-shadow: none;}

svg:not(:root) {overflow: hidden;}
figure {margin: 0;}
.chromeframe {margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0;}

/* ==|== primary styles =====================================================
	 Author:
	 ========================================================================== */

.main {
	margin: 18px auto 0;
	float: none;
}

.friends-list {
	height: 400px;
	overflow-x: hidden;
	overflow-y: auto;
	}

	.friends-list_item {
		margin-top: 15px;
		margin-bottom: 0;
		cursor: pointer;
	}
	.friends-list_item__first {
		margin-top: 0;
	}
	.friends-list_item:hover,
	.friends-list_item__selected {
		background-color: #E1E7ED;
		}

		.friends-list_thumbnail {
			float: left;
		}

		.friends-list_name {
			float: left;
			margin-left: 10px;
			color: #45688E;
			font-weight: 600;
		}

.user-name {
	text-align: center;
}

/*
 * Font-size animation
 */
@-webkit-keyframes fontSize {
	from {font-size: 10px;}
	to {font-size: 70px;}
}
@-moz-keyframes fontSize {
	from {font-size: 10px;}
	to {font-size: 70px;}
}
@-ms-keyframes fontSize {
	from {font-size: 10px;}
	to {font-size: 70px;}
}
@-o-keyframes fontSize {
	from {font-size: 10px;}
	to {font-size: 70px;}
}
@keyframes fontSize {
	from {font-size: 10px;}
	to {font-size: 70px;}
}

.rank {
	width: 218px;
	height: 218px;
	border: 5px solid #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 5px #DD3D41;
	-moz-box-shadow: 0 0 5px #DD3D41;
	-o-box-shadow: 0 0 5px #DD3D41;
	box-shadow: 0 0 5px #DD3D41;
	margin: 28px auto 0;
	line-height: 218px;
	text-align: center;
	font-size: 70px;
	font-weight: 900;
	color: white;
	text-shadow: 0 0 5px black;

	background-color: #ff251a;
	background-image: -webkit-gradient(radial, 50% 50%,200,50% 50%,20, from(rgb(0, 0, 0)), to(rgb(255, 37, 26)));
	background-image: -webkit-radial-gradient(50% 50%, rgb(255, 37, 26), rgb(0, 0, 0));
	background-image: -moz-radial-gradient(50% 50%, rgb(255, 37, 26), rgb(0, 0, 0));
	background-image: -ms-radial-gradient(50% 50%, rgb(255, 37, 26), rgb(0, 0, 0));
	background-image: -o-radial-gradient(50% 50%, rgb(255, 37, 26), rgb(0, 0, 0));
	background-image: radial-gradient(50% 50%, rgb(255, 37, 26), rgb(0, 0, 0));

	-webkit-animation: fontSize 1s 1 cubic-bezier(0.680, -0.550, 0.265, 1.550); font-size: 70px;
	-moz-animation: fontSize 1s 1 cubic-bezier(0.680, -0.550, 0.265, 1.550); font-size: 70px;
	-ms-animation: fontSize 1s 1 cubic-bezier(0.680, -0.550, 0.265, 1.550); font-size: 70px;
	-o-animation: fontSize 1s 1 cubic-bezier(0.680, -0.550, 0.265, 1.550); font-size: 70px;
	animation: fontSize 1s 1 cubic-bezier(0.680, -0.550, 0.265, 1.550); font-size: 70px;
}

/*
 * Spinning animation
 */

@-webkit-keyframes rotater {
	50% {-webkit-transform: rotate(180deg);}
	100% {-webkit-transform: rotate(-360deg);}
}
@-moz-keyframes rotater {
	50% {-moz-transform: rotate(180deg);}
	100% {-moz-transform: rotate(-360deg);}
}
@-ms-keyframes rotater {
	50% {-ms-transform: rotate(180deg);}
	100% {-ms-transform: rotate(-360deg);}
}
@-o-keyframes rotater {
	50% {-o-transform: rotate(180deg);}
	100% {-o-transform: rotate(-360deg);}
}
@keyframes rotater {
	50% {transform: rotate(180deg);}
	100% {transform: rotate(-360deg);}
}

.rank:hover {
	-webkit-animation: rotater 1s 1 ease-out;
	-moz-animation: rotater 1s 1 ease-out;
	-ms-animation: rotater 1s 1 ease-out;
	-o-animation: rotater 1s 1 ease-out;
	animation: rotater 1s 1 ease-out;
}

/*
 * Result list
 */

.result-title {
	font-size: 24px;
	line-height: 80px;
	text-align: center;
}

.result-list {
	list-style-type: none;
	margin-left: 0;
}
.result-list__first {
	border-right: 1px dotted #eee;
	margin-right: 17px;
}

	.result-list li {
		margin-bottom: 15px;
	}

.question {

	}
	.question small {
		text-align: right;
	}


/* ==|== media queries ======================================================
	 EXAMPLE Media Query for Responsive Design.
	 This example overrides the primary ('mobile first') styles
	 Modify as content requires.
	 ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

/* ==|== non-semantic helper classes ========================================
	 Please define your styles before this section.
	 ========================================================================== */

/* For image replacement */
.ir {display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0;}
.ir br {display: none;}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto;}

/* ==|== print styles =======================================================
	 Print styles.
	 Inlined to avoid required HTTP connection: h5bp.com/r
	 ========================================================================== */

@media print {
	* {background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important;} /* Black prints faster: h5bp.com/s */
	a, a:visited {text-decoration: underline;}
	a[href]:after {content: " (" attr(href) ")";}
	abbr[title]:after {content: " (" attr(title) ")";}
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {content: "";} /* Don't show links for images, or javascript/internal links */
	pre, blockquote {border: 1px solid #999; page-break-inside: avoid;}
	thead {display: table-header-group;} /* h5bp.com/t */
	tr, img {page-break-inside: avoid;}
	img {max-width: 100% !important;}
	@page {margin: 0.5cm;}
	p, h2, h3 {orphans: 3; widows: 3;}
	h2, h3 {page-break-after: avoid;}
}
